section 
    h1 big boy Banan

    <input type="text" placeholder="Password" size="40">

    p hur många gånger vill du skriva banan. Skriv hur många efter / i länken
    - @data.times do 

        p banan
