@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

img {
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    height: 50vh;
    width: auto;
}

header {
    grid-area: hea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1 {
    grid-area: sec1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section2 {
    grid-area: sec2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 10vh;
    overflow: hidden;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}

a:hover {
    color: rgb(184, 105, 105);
}
form {
    position: absolute;
    bottom: 10vh;
    height: 17px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
}

#grid_wrapper_1 {
    background: rgb(181, 181, 181);
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 12vh 73vh;
    grid-template-areas: 
    "hea"
    "sec1"
    "sec2"
}

