* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

img {
    border: 2px solid black;
    position: absolute;
    height: 50vh;
    width: auto;

}

header {

    grid-area: hea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1 {

    grid-area: sec1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

#section2 {

    grid-area: sec2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 10vh;
    overflow: hidden;



}

a {
    padding: 10px;
}

input {
    position: absolute;
    bottom: 10vh;

}

#grid_wrapper_1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 20vh 70vh;
    grid-template-areas: 
    "hea"
    "sec1"
    "sec2"
}